@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "Proje Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Proje Ekleme Sayfası</h3>
</div>
@using (Html.BeginForm("EditPortfolio", "Portfolio", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.PortfolioID)
    @Html.Label("Proje Başlığı")
    @Html.TextBoxFor(x=>x.Name,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Name)
    <br />
    @Html.Label("Görsel 1")
    @Html.TextBoxFor(x=>x.ImageUrl,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.ImageUrl)
    <br />
    @Html.Label("Görsel 2")
    @Html.TextBoxFor(x=>x.ImageUrl2,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.ImageUrl2)
    <br />
    @Html.Label("Platform")
    @Html.TextBoxFor(x=>x.Platform,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Platform)
    <br />
    @Html.Label("Durum")
    @Html.TextBoxFor(x=>x.Status,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Status)
    <br />
    @Html.Label("Proje URL")
    @Html.TextBoxFor(x=>x.ProjectUrl,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.ProjectUrl)
    <br />
    @Html.Label("Price")
    @Html.TextBoxFor(x=>x.Price,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Price)
    <br />
    @Html.Label("Değer")
    @Html.TextBoxFor(x=>x.Value,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Value)
    <br />
    <button class="btn btn-info">Düzenle</button>
}

