@model EntityLayer.Concrete.WriterMessage
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Yeni Mesaj Gönderme Sayfası</h1>

<br />

<form class="form-group" action="/Writer/Message/SendMessage" method="post">
    @Html.Label("Alıcı Mail")
    @Html.TextBoxFor(x=>x.Receiver,new {@class="form-control"})
    </br>
    @Html.Label("Konu")
    @Html.TextBoxFor(x=>x.Subject,new {@class="form-control"})
    </br>
    @Html.Label("Mesaj")
    @Html.TextBoxFor(x=>x.MessageContent,new {@class="form-control"})
    </br>
    <button class="btn btn-outline-primary">Gönder</button>
</form>