@using EntityLayer.Concrete
@model Message
@{
    ViewData["Title"] = "ContactDetails";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Mesaj Detay Sayfası </p>
            <form class="forms-sample">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" value="@Model.MessageID" name="ExperienceId">
                </div>
                <div class="form-group">
                    <label>Başlık</label>
                    <input type="text" value="@Model.Name" class="form-control" name="Name">
                </div>
                <div class="form-group">
                    <label>Tarih</label>
                    <input type="text" value="@Model.Date" class="form-control" name="Date">
                </div>
                <div class="form-group">
                    <label>E-Posta</label>
                    <input type="text" value="@Model.Mail" class="form-control" name="ImageUrl">
                </div>
                <div class="form-group">
                    <label>Açıklama</label>
                    <textarea class="form-control" name="Description" rows="6">@Model.Content</textarea>
                </div>
                <a asp-action="Index" type="submit" class="btn btn-primary me-2">İletişim Sayfası</a>
            </form>
        </div>
    </div>
</div>

